.image-area{
    position: relative;
}
.image-area  span{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c2c2c2;
    z-index: 1;
    pointer-events: none;
}

.user-image:hover{
    filter: brightness(0.5);
}





